[tool.ruff]
target-version = "py311"
line-length = 100
fix = true
show-fixes = true

[tool.ruff.lint]
select = ["E", "F", "I", "B", "UP"]
ignore = ["UP038"]

[tool.ruff.lint.per-file-ignores]
"app/**/router.py" = ["B008"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
line-ending = "auto"
skip-magic-trailing-comma = false

[tool.pyright]
typeCheckingMode = "basic"
reportMissingImports = false
reportMissingTypeStubs = false


